* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.construction-label {
    font-weight: bold;
    letter-spacing: 2pt;
    border: 2px solid darkkhaki;
    padding: 8px;
    width: fit-content;
}

.Marie-Uebung1 {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0pt;
    color: red;
    width: fit-content;
}